<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="GameDBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\GameDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Connect_Four_Client.Properties.Settings.GameDBConnectionString"
      connectionString='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\User\OneDrive\שולחן העבודה\Connect Four\Connect Four\Connect Four Client\Connect Four Client\Connect Four Client\Services\DB\HistoryGameDataBase.mdf";Integrated Security=True'
      providerName="System.Data.SqlClient" />
    <add name="Connect_Four_Client.Properties.Settings.GameDataBaseConnectionString"
      connectionString='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\User\OneDrive\שולחן העבודה\Connect Four\Connect Four\Connect Four Client\Connect Four Client\Connect Four Client\Services\DB\HistoryGameDataBase.mdf";Integrated Security=True'
      providerName="System.Data.SqlClient" />
    <add name="Connect_Four_Client.Properties.Settings.GameDateBaseConnectionString"
      connectionString='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\User\OneDrive\שולחן העבודה\Connect Four\Connect Four\Connect Four Client\Connect Four Client\Connect Four Client\Services\DB\HistoryGameDataBase.mdf";Integrated Security=True'
      providerName="System.Data.SqlClient" />
    <add name="Connect_Four_Client.Properties.Settings.HistoryGameDataBaseConnectionString"
      connectionString='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\User\OneDrive\שולחן העבודה\Connect Four\Connect Four\Connect Four Client\Connect Four Client\Connect Four Client\Services\DB\HistoryGameDataBase.mdf";Integrated Security=True'
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>